# Dependencies
node_modules/

# Environment files
.env
*.csv
*.wav

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db


# Uploads (agar chahiye ignore karna)
uploads/
augmented_2x/
augmented_lowpass/
augmented_noise/
augmented_reverb/
augmented_volume/
wavaudios/
webaudios/
filteredforwhisper/
temp_aiudio/